<h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>">
Chat<h3 class="text-success"><%= @user.name %></div></h3>

<div class="message" style="width: 400px;">
  <% @chats.each do |chat| %>
    <% if chat.user_id == current_user.id %>
      <p style="text-align: right;"><%= chat.message %> <%= image_tag current_user.get_profile_image, size:"40x40" %></p>
    <% else %>
      <p style="text-align: left;"><%= image_tag @user.get_profile_image, size:"40x40" %> <%= chat.message %></p>
    <% end %>
  <% end %>
</div>

<div class="errors">
  <%= render "layouts/errors", obj: @chat %>
</div>

<%= form_with model: @chat, data: {remote: true} do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :room_id %>
<% end %>